# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env
*.env

# Logs and caches
logs/
*.log
.cache/
hypothesis/

# IDEs
.idea/
.vscode/
*.swp

# Docker
*.dockerignore

# Misc
*.DS_Store
Thumbs.db